<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_gold_flash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,194},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,53},{56,56}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,102},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{64,64}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,112},{72,72}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,45},{72,72}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,112},{80,82}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,40},{80,82}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,37},{90,88}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{98,98}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,32},{98,98}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{108,108}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{108,108}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{118,118}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{118,118}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,126}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{124,126}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,194},{58,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{58,58}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,134},{60,60}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{60,60}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,158},{62,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{62,62}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,92},{64,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,49},{64,64}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{66,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{66,74}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,78},{54,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,42},{54,66}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,186},{52,64}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,43},{52,64}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,168},{64,64}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{64,64}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
            <key>fish_gold_flash_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,196},{62,42}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,42},{62,42}}</string>
                <key>sourceSize</key>
                <string>{156,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_flash.png</string>
            <key>size</key>
            <string>{498,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835a05195a53863d9c65f5be38b624df:0c87e9ddb6f0bc9561b1107b4310890d:2ce1cba1299d57d05302dd9bfea49ea4$</string>
            <key>textureFileName</key>
            <string>gold_flash.png</string>
        </dict>
    </dict>
</plist>
